# Default values for redis.

name: redis

metadata:
  namespace: aenv

# Namespace configuration
namespace:
  # Set to true to automatically create the namespace
  create: true
  # Optional labels to add to the namespace
  labels: {}
  # Optional annotations to add to the namespace
  annotations: {}

image:
  repository: redis
  tag: "7.2.4"
  pullPolicy: IfNotPresent

backup:
  # OSS配置（可选）
  oss:
    endpoint: ""
    bucket: ""
    accessKey: ""
    secretKey: ""

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

replicaCount: 1

service:
  type: ClusterIP
  port: 6379

resources:
  limits:
    cpu: "1"
    memory: "1Gi"
  requests:
    cpu: "100m"
    memory: "256Mi"

nodeSelector: {}

tolerations: {}

affinity: {}

# 持久化配置
persistence:
  enabled: true
  storageClassName: ""
  accessModes:
    - ReadWriteOnce
  size: 5Gi

# Redis port
port: 6379
