name: Pre-commit

on:
  pull_request:

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - uses: actions/setup-python@v5
    - uses: actions/setup-go@v5
      with:
        go-version: 'stable'
    - name: Install Go tools
      run: go install golang.org/x/tools/cmd/goimports@latest
    - name: Install hadolint
      run: |
        wget -qO /tmp/hadolint https://github.com/hadolint/hadolint/releases/download/v2.12.0/hadolint-Linux-x86_64
        chmod +x /tmp/hadolint
        sudo mv /tmp/hadolint /usr/local/bin/hadolint
    - uses: pre-commit/action@v3.0.1
      with:
        extra_args: --from-ref origin/${{ github.base_ref }} --to-ref HEAD
