name: Release Aenv SDK

on:
  push:
    branches:
      - add_workflow
    paths:
      - '.github/workflows/release_pypi_task.yml'
  workflow_dispatch:

jobs:
  publish-to-pypi:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./aenv

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'

      - name: Install build dependencies
        run: |
          python -m pip install --upgrade pip
          pip install build twine

      - name: Build package
        run: python -m build

      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          password: ${{ secrets.PYPI_AUTH_PASSWORD }}